-#
!!! 5
%html
  %head
    %title Sage Mentorship Project
    %body

      = image_tag 'sage.jpg', style: 'height:100%;width:100%;'
      %br
      %br
      %br
      %br

      %p
        The Sage Mentorship Project is UC Berkeley's largest one-on-one mentorship organization, matching hundreds of committed UC Berkeley students to an elementary school-aged mentee each year. Our mission is to provide youth from the twelve Berkeley and Oakland elementary schools we reach with a personal connection to mentors through academic and extracurricular activities in order to foster life skills and personal growth.

