%p
%p
%h2 Mentor Check In Page

= collection_select :dropdown, :mentor_validate_checkin_path, School.all, :id, :name, {}, { class: 'form-control', :style => "width:500px"}
%p
= link_to 'Check In',mentor_validate_checkin_path, :class => 'btn btn-success'
= link_to 'Back', mentor_path, :class => 'btn btn-danger'

