// Place all the styles related to the checkins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  width:243px;
  display: block;
}

#centered_checkup_buttons {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.btn-primary {
  background-color: #00b1e8;
  border: none;
  color: white;
  padding: 12px ;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
}

.btn-primary:hover {
  background-color: lightsteelblue;
}

.divider {
  width: 10px;
  height: auto;
  display: inline-block;
}