// Place all the styles related to the supers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* colors */
$blue: #428BFF;
$red: #FF4A53;
$dark: #333;

$accent: $blue;
$accent-inactive: desaturate($blue, 85%);
$secondary: #333;

$navbar_background: #213345;
$backdrop: #CCCCCC;
$row_background: #7f8ea1;
$row_hover: #e0e6e6;
$table_font: #1c2c3a;

body {margin:0; background-color: #777777;}//padding-top: 165px;}



/* tab setting */
$tab-count: 4;
$indicator-width: 50px;
$indicator-height: 4px;

/* breakpoints */
$breakpoints: (
        medium: #{$tab-count*250px},
        small: #{$tab-count*150px}
);


/* selectors relative to radio inputs */
$label-selector: "~ ul > li";
$slider-selector: "~ .slider";
$content-selector: "~ .content > section";

@mixin tabs(
  $label-selector: $label-selector,
  $slider-selector: $slider-selector,
  $content-selector: $content-selector) {

  @for $i from 1 through $tab-count {
    &:nth-of-type(#{$i}):checked {
      #{$label-selector}:nth-child(#{$i}) {
        @content;
      }

      #{$slider-selector} {
        transform: translateX(#{100% * ($i - 1)});
      }

      #{$content-selector}:nth-child(#{$i}) {
        display: block;
      }
    }
  }
}

.tabs {
  position: inherit;
  background: $backdrop;
  padding: 10px 0 10px 0;
  width: 99%;
  //margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  min-width: #{$tab-count * 60px};
  align-items: baseline;

  input[name="tab-control"] {
    display: none;
  }
}

.tabs ul {
  width: 100%;
  background-color: $backdrop;

    position: inherit;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    height: fit-content;
    border: 0;
  }

.tabs li {
  line-height: normal;

  label {
    transition: all 0.3s ease-in-out;
    color: $secondary;
    padding: 5px auto;
    display: block;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    -webkit-touch-callout: none;

    br {
      display: none;
    }

    svg {
      fill: $secondary;
      height: 1.2em;
      vertical-align: bottom;
      margin-right: 0.2em;
      transition: all 0.2s ease-in-out;

    }

    &:hover,
    &:focus,
    &:active {
      outline: 0;
      color: lighten($secondary, 15%);

      svg {
        fill: lighten($secondary, 15%);
      }
    }
  }
}

.slider {
  position: inherit;
  width: #{100%/$tab-count};
  transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
  .indicator {
    position: relative;
    width: $indicator-width;
    max-width: 100%;
    margin: 0 auto !important;
    height: $indicator-height;
    background: $accent;
    border-radius: 1px;
  }
}

.content {
  margin-top: 10px;
  width: 100%;
  section {
    display: none;
    animation: {
      name: content;
      direction: normal;
      duration: 0.3s;
      timing-function: ease-in-out;
      iteration-count: 1;
    }
    line-height: 1.4;

    h2 {
      display: none;
    }
  }
}

input[name="tab-control"] {
  @include tabs {
    > label {
      cursor: default;
      color: $accent;

      svg {
        fill: $accent;
      }

      @media (max-width: map-get($breakpoints, small)) {
        background: rgba(0, 0, 0, 0.08);
      }
    }
  }
}

@keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}


