<!DOCTYPE html>
<!-- Source for sign-in button code is developers.google.com -->
<html>
<head>
  <meta name="google-signin-client_id" content="874482834971-lqadmntua28ak3td8hkktbgphjheitnu.apps.googleusercontent.com">
</head>
<body>
<img src="/sage_logo.jpg">

<div id="centered_checkup_buttons">
<%= submit_tag 'Check in', :method => :index, :confirm => 'Are you sure?', :class => 'btn btn-primary' %>
<div class="divider"></div>
<%= submit_tag 'Check out', :method => :index, :confirm => 'Are you sure?', :class => 'btn btn-primary' %>
</div>
<%= yield %>
</body>
</html>
